apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-pv
  namespace: flask-mongo-demo
  labels:
    type: local
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /data/mongo   # Minikube node path; fine for local demo